src-org/main/default/flows/Get_Vehicle_List.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <description>Stores the list of Vehicle Records.</description>
        <name>Vehicle_Records_Assignment</name>
        <label>Vehicle Records Assignment</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varVehicleList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Vehicle_Records</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>Get&apos;s the list of vehicles, customer is looking for.</description>
    <environments>Default</environments>
    <interviewLabel>Get Vehicle List {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Vehicle List</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets the list of vehicles searched by the customer</description>
        <name>Get_Vehicle_Records</name>
        <label>Get Vehicle Records</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Vehicle_Records_Assignment</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Make__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Make</elementReference>
            </value>
        </filters>
        <filters>
            <field>Model__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Model</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </filters>
        <filters>
            <field>Has_Sunroof__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Has_Sunroof</elementReference>
            </value>
        </filters>
        <filters>
            <field>Has_Heated_Seats__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Has_Heated_Seats</elementReference>
            </value>
        </filters>
        <filters>
            <field>Has_Cruise_Control__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Has_Cruise_Control</elementReference>
            </value>
        </filters>
        <filters>
            <field>Transmission__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Transmission</elementReference>
            </value>
        </filters>
        <filters>
            <field>Color__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Color</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Vehicle_Model__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Vehicle_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Color</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Has_Cruise_Control</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Has_Heated_Seats</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Has_Sunroof</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Make</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Model</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Transmission</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varVehicleList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Vehicle_Model__c</objectType>
    </variables>
</Flow>
