src-org/main/default/flows/Get_Booking_Details_with_PNR.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <description>Stores the retrieved booking record.</description>
        <name>Booking_Record_Assignment</name>
        <label>Booking Record Assignment</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varBookingRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Retrieve_Booking_Record</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>Gets the booking details for a specific pnr.</description>
    <environments>Default</environments>
    <interviewLabel>Get Booking Details with PNR {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Booking Details with PNR</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Retrieves the booking record associated with a pnr.</description>
        <name>Retrieve_Booking_Record</name>
        <label>Retrieve Booking Record</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Booking_Record_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PNR__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPnr</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Booking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Retrieve_Booking_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>The flight booking record retrieved by using the pnr</description>
        <name>varBookingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Booking__c</objectType>
    </variables>
    <variables>
        <description>The pnr used to retrieve the flight booking record.</description>
        <name>varPnr</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
