src-org/main/default/flows/Get_Available_Products.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_Product_Id_to_List</name>
        <label>Add Product Id to List</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>productIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_to_get_Ids.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_to_get_Ids</targetReference>
        </connector>
    </assignments>
    <description>Gets a list of available products</description>
    <environments>Default</environments>
    <interviewLabel>Get Available Products {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Available Products</label>
    <loops>
        <name>Iterate_to_get_Ids</name>
        <label>Iterate to get Ids</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>ProductList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Product_Id_to_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Price_Information</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Price_Information</name>
        <label>Get Price Information</label>
        <locationX>176</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>In</operator>
            <value>
                <elementReference>productIds</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputReference>PriceList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>IsActive</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Products</name>
        <label>Get Products</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_to_get_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Family</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>productType</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>ProductList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Available_Colors__c</queriedFields>
        <queriedFields>Available_Sizes__c</queriedFields>
        <queriedFields>Image_URL__c</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Products</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>List of prices for each product. Match based on ProductId</description>
        <name>PriceList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>productIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>List of available products</description>
        <name>ProductList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <description>Type of product we are searching for</description>
        <name>productType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
