src-org/main/default/flows/Retrieve_Flights_by_Route.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Flight_Records_Assignment</name>
        <label>Flight Records Assignment</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varFlightList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Flight_Records</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>Retrieves a list of flights by accepting origin and destination.</description>
    <environments>Default</environments>
    <interviewLabel>Retrieve Flights by Route {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Retrieve Flights by Route</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the List of flights</description>
        <name>Get_Flight_Records</name>
        <label>Get Flight Records</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Flight_Records_Assignment</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (3 AND 4)</filterLogic>
        <filters>
            <field>Origin__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOrigin</elementReference>
            </value>
        </filters>
        <filters>
            <field>Destination__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varDestination</elementReference>
            </value>
        </filters>
        <filters>
            <field>Origin_Airport_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOrigin</elementReference>
            </value>
        </filters>
        <filters>
            <field>Destination_Airport_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varDestination</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Flight__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Flight_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varDestination</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFlightList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Flight__c</objectType>
    </variables>
    <variables>
        <name>varOrigin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
