src-org/main/default/flows/Retrieve_Scheduled_Test_Drive.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <description>The Scheduled Test Drive Record.</description>
        <name>Testdrive_Record_Assignment</name>
        <label>Testdrive Record Assignment</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varScheduledTestDrive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Test_Drives</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>Retrieve the Test Drive record if it is already scheduled.</description>
    <environments>Default</environments>
    <interviewLabel>Retrieve Scheduled Test Drive {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Retrieve Scheduled Test Drive</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Retrieve the scheduled test drive for a given customer and a specific car.</description>
        <name>Get_Test_Drives</name>
        <label>Get Test Drives</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Testdrive_Record_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCustomer.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Vehicle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varVehicle.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Test_Drive__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Test_Drives</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>The Customer who booked the test drive.</description>
        <name>varCustomer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>The Scheduled Testdrive record..</description>
        <name>varScheduledTestDrive</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Test_Drive__c</objectType>
    </variables>
    <variables>
        <description>The vehicle chosen by the customer for the test drive.</description>
        <name>varVehicle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Vehicle_Model__c</objectType>
    </variables>
</Flow>
